<ion-view>
  <ion-content>
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Sistema localización</h1>
      </ion-header-bar>
      <ion-content class="home" ng-controller="BackgroundController">
        <button class="button button-full button-positive" ng-click="play()">
          Comenzar trayectoria
        </button>
        <button class="button button-full button-positive" ng-click="stop()">
          Detener
        </button>
        <div id="map" data-tap-disabled="true"></div>
      </ion-content>
    </ion-pane>
  </ion-content>
</ion-view>
